= simple_form_for @tag, html: { class: "form-horizontal" } do |tag|
  = tag.input :name
  .form-actions
    = tag.submit "Save", class: "btn-primary"
    = link_to "Back to all tags", tags_url, class: "btn btn-link"