%h1 Available Tags

%table.table.table-hover
  %thead
    %tr
      %th ID
      %th Name
      %th Action
      
  %tbody
    - @tags.each do |tag|
      %tr
        %td 
          %a
            = link_to tag.id, tag_path(tag)
        %td 
          = tag.name
        %td
          = link_to "Edit", edit_tag_path(tag), :class => "btn"
          = link_to "Delete", tag_path(tag), :method => :delete, :class => "btn btn-danger"