.hero-unit

  =image_tag 'header.jpg', class: 'img-rounded'
  
  %h3
    Hey! 

  %p
    Kevin Tung here...I thought it was about time I had put together a website for myself.  I needed something aside from the usual social media outlets/blogs
    and I also needed a space for my random projects I work on from time to time.  I probably could've put this together with WordPress or some other 
    technology in a matter of minutes but I thought I might as well take a sip of the Rails Kool-Aid.  
%hr

.row-fluid
  .span12

    %h3
      Projects
      
    =image_tag 'projects.png', class: 'pull-right img-circle'

    %p
      Every once in a while I'll come across some technologies that I find interesting, and I'll combine it with an app idea that I have in the back of my head.

    %p
      %a.btn.btn-primary
        Poke Around
%hr

.row-fluid
  .span12

    %h3
      Connect

    =image_tag 'connect.png', class: 'pull-left img-circle'

    %p
      Join me on social media to see what I'm up to! Also, take a look around my github and give me some feedback.

    %p
      %a.btn.btn-primary
        Beam Me Up
