%h1 Backbone Par Sheets

.par_sheet

  .sheet_items.form-inline
    %legend
      Inventory
      %a.btn.add_item
        Add Item
      %a.btn.btn-link.create_item
        Create New Item Type

  .modal.hide.fade
    .modal-header
      %button.close{ type: 'button', "data-dismiss" => 'modal' }
        &times;
      %h3
        Create a new item
    .modal-body
      %form#new_par_item
        .control-group
          %label.control-label{ for: 'name' }
            Name
        .controls
          %input#name{ type: 'text' }
        .control-group
          %label.control-label{ for: 'description' }
            Description
        .controls
          %textarea#description
    .modal-footer
      = link_to 'Cancel', '#', class: 'btn cancel'
      = link_to 'Save', '#', class: 'btn btn-primary save'
