.row-fluid
  .span12

    %h3
      Par Sheets

    %p
      This project was started so I could get more of a handle on some of the newer technologies that I keep on reading
      about but have not yet had a chance to work with at work.  The main focus of this project was to compare the implementation
      of this app using just jQuery and Rails form handling versus a javascript MVC framework.  I also used this as a chance
      to write testable javascript and learn the Jasmine testing framework.  This is still a work in progress so there may be some
      oddities here and there.

    %p
      = link_to "continue", par_sheets_url
%hr
