.row-fluid
  .span12

    %h3
      Par Sheets

    %p
      This project was started so I could get more of a handle on some of the newer technologies that I keep on reading
      about but have not yet had a chance to work with at work.  The main focus of this project was to compare the implementation
      of this app using just jQuery and Rails form handling versus a javascript MVC framework.  I also used this as a chance
      to write testable javascript and learn the Jasmine testing framework.  This is still a work in progress so there may be some
      oddities here and there.

    %p
      =link_to 'continue', par_sheets_url
%hr

.row-fluid
  .span12

    %h3
      eventMonster

    %p
      I haven't started on this project yet, but I recently attended a talk by Tim Anglade about apigee and the service that they
      provide seemed pretty interesting.  The project I had in mind would be an app that would help you coordinate with your group of
      friends which set of events that you all have in common at a tech conference, music festival, and the like.  The idea being that
      each of you select which events you're attending, and the app would be able to view friends that are attending the same events.
      apigee would be useful as a smarter data source where users can individually submit event templates for various events e.g.
      SpringOne 2GX, and an admin can simply approve them.  I was also hoping to use some of the social features of apigee so that
      friends could be tracked more easily.
