.modal.hide.fade
  .modal-header
    %button.close{ type: 'button', "data-dismiss" => 'modal' }
      &times;
    %h3
      Create a new item
  .modal-body
    = simple_form_for ParItem.new do |item|
      = render 'par_items/form_body', item: item
  .modal-footer
    = link_to 'Cancel', '#', class: 'btn cancel'
    = link_to 'Save', '#', class: 'btn btn-primary save'

