%h1
  =@par_item.name

%p
  %ul
    %li 
      Description:
      =@par_item.description

%p  
  %ul
    %li
      = link_to 'Edit', edit_par_item_path(@par_item)
    %li
      = link_to 'Back to all items', par_items_url
