- content_for :active_tab, :projects
%h1 Blog

%p so yeah...this is my blog section of the site

- @posts.each do |post|

  %h2
    = link_to "#{post.title} written #{time_ago_in_words post.published_at} ago", post
  %p
    = post.body
