%h1 Calculated Prep Sheets

%h2
  Sheet:
  = @par_sheet.name

%table.table.table-hover
  %thead
    %tr
      %th
        ID
      %th
        Created At
      %th
        Action
  %tbody
    - @par_sheet.prep_sheets.each do |sheet|
      %tr
        %td
          = link_to sheet.id, par_sheet_prep_sheet_path(@par_sheet.id, sheet.id)
        %td
          = sheet.created_at.strftime "%l:%M:%S %p %m/%d/%Y %Z"
        %td
          = link_to "Delete", par_sheet_prep_sheet_path(@par_sheet.id, sheet.id), :method => "delete", :class => "btn btn-danger"
